.main .Event {
    height: 200px;
    max-height: 200px;
}

.main .Event .Date {
    text-align: center;
    color: white;
    background-color: rgb(10, 10, 10);
}

.main .Event .Date .day {
    font-weight: bold;
    /* font-size: 40px; */
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main .Event .Date .month {
    font-weight: bold;
    /* font-size: 16px; */
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main .Event .Picture {
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 200px;
    background-color: rgb(51, 45, 0);
}

.main .Event .Summary {
    vertical-align: text-top;
    color: rgb(10, 10, 10);
    background-color: rgb(220, 220, 220);
    width: 100%;
    text-align: left;
}

.main .Event .Summary .summary {
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.main .Event .Summary .description {
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.main .Event .Location {
    font-size: 12px;
    text-align: center;
    color: white;
    background-color: rgb(10, 10, 10);
}

@media screen and (min-width: 600px) {
    .main .Event .Date {
        min-width: 100px;
        max-width: 100px;
        width: 100px;
    }
    
    .main .Event .Date .day {
        font-size: 40px;
    }
    
    .main .Event .Date .month {
        font-size: 16px;
    }
    
    .main .Event .Picture {
        min-width: 200px;
    }
    
    .main .Event .Summary {
        margin: 10px;
    }
    
    .main .Event .Summary .summary {
        font-size: 28px;
        padding-top: 10px;
    }

    .main .Event .Summary .description {
        font-size: 15px;
        margin: 10px;
    }
    
    .main .Event .Location {
        font-size: 12px;
        min-width: 100px;
        max-width: 100px;
        width: 100px;
    }
}
@media screen and (max-width: 599px) {
    .main .Event .Date {
        min-width: 58px;
        max-width: 58px;
        width: 58px;
    }
    
    .main .Event .Date .day {
        font-size: 30px;
    }
    
    .main .Event .Date .month {
        font-size: 10px;
    }
    
    .main .Event .Picture {
        min-width: 100px;
    }
    
    .main .Event .Summary {
        margin: 5px;
    }
    
    .main .Event .Summary .summary {
        font-size: 20px;
        padding-top: 5px;
    }

    .main .Event .Summary .description {
        font-size: 12px;
        margin: 5px;
    }

    .main .Event .Location {
        font-size: 10px;
        min-width: 58px;
        max-width: 58px;
        width: 58px;
    }
}