footer {
    background-color: rgb(24, 24, 24);
    color: white;
}

footer a:link,
footer a:visited,
footer a:hover,
footer a:active {
    color: white;
}

footer h3 {
    padding: 0px 10px 0px 0px;
}

footer h4 {
    font-size: 10px;
    color: gray;
    padding: 0px 10px 0px 0px;
}

footer img {
    width: 35px;
    height: 35px;
}